[package]
name = "rpgp-extension"
version = "0.1.0"
edition = "2024"

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"

[lib]
crate-type = ["cdylib"]

[dependencies]
minifi-native = { path = "../minifi-native" }
strum_macros = "0.27.2"
strum = "0.27.2"
pgp = "0.18.0"

